<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hitler al Berghain </title>
</head>
<body>
    <h1>Hitler al Berghain</h1>
    <article>Una provocazione artistica intitolata “Hitler al Berghain” ha suscitato polemiche a Berlino: 
        l’opera, ambientata nel celebre club techno, intende esplorare il rapporto tra autorità e trasgressione nella società contemporanea.</article>
</body>
</html>